<!DOCTYPE html>
<html>
  <head>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClH_lkoOsbknyTLgw1ogi48K0OnDWJAkc&libraries=places"></script>
    <script src="app.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div ng-controller="MapCtrl">
      <div class="inputPanel">
        <h4>Add Place to Map</h4>
          <input class="form-control" id="placeInput" type="text" ng-model="inputText">
            <textarea class="form-control" id="placeNote" rows="3" ng-model="placeNote" placeholder="Add a note about the place" ng-disabled="!inputText"></textarea><br>
      <div class="container-fluid">
        <div class="row">
              <label for="1" class="col-md-4"><input id="1" type="radio" name="typeOptions" value="restaurant" ng-model="placeType"> Food
              </label>
              <label for="2" class="col-md-4">
                  <input id="2" type="radio" name="typeOptions" value="cafe" ng-model="placeType"> Coffee
              </label>
              <label for="3" class="col-md-4">
               <input id="3" "form-control" type="radio" name="typeOptions" value="park" ng-model="placeType"> Nature
              </label>
            </div>
          <div class="row">
               <label for="4" class="col-md-4">
                <input id ="4" type="radio" name="typeOptions" value="pitch" ng-model="placeType"> Active
              </label>
                <label for="5" class="col-md-4">
                  <input id="5" type="radio" name="typeOptions" value="bar" ng-model="placeType"> Nightlife
                </label>
                <label for="6" class="col-md-4">
                 <input id="6" type="radio" name="typeOptions" value="theatre" ng-model="placeType"> Arts
                </label>
          </div>
           <div class="row">
                <label for="7" class="col-md-4">
                  <input id="7" type="radio" name="typeOptions" value="shop" ng-model="placeType"> Shopping
                </label>
              <label for="8" class="col-md-4">
              <input id="8" type="radio" name="typeOptions" value="camera" ng-model="placeType"> Tourist
              </label>
              <label for="9" class="col-md-4">
                <input id="9" type="radio" name="typeOptions" value="roadblock" ng-model="placeType"> Avoid
              </label>
               <label for="10" class="col-md-4">
                <input id="10" type="radio" name="typeOptions" value="star" ng-model="placeType"> Other
              </label>
            </div>
        </div>
         <br>
         <div class = "container-fluid">
          <div class = "row">
            <input class = "col-xs-4" id="add" class="btn btn-success" type="submit" value="Submit" ng-click="submit()">
            <div class = "col-xs-3"></div>
             <div class = "col-xs-5"><a href="#" ng-click="resetMap()">Reset Map View</a></div>
          </div>
          </div>
            <br><br>
            <div class = "row">
              <div class = "col-md-5">
              <h3>Your Places</h3>
              </div>
              <div class = "col-md-2"></div>
            <div class = "col-md-5" id="filter">
             <label for="dropdown">Filter By: </label>
                <select name = "dropdown" id="dropdown" class="form-control" ng-model="filterType" ng-change="filter()">
                  <option value=""></option>
                  <option value="restaurant">Food</option>
                  <option value="cafe">Coffee</option>
                  <option value="park">Nature</option>
                  <option value="pitch">Active</option>
                  <option value="bar">Nightlife</option>
                  <option value="theatre">Arts</option>
                  <option value="shop">Shopping</option>
                  <option value="camera">Tourist</option>
                  <option value="roadblock">Avoid</option>
                  <option value="star">Other</option>
                </select>
              </div>
            </div>
            <div class="inputPanel" id ="list">
              <table class="table table-hover">
              <tbody>
                <tr ng-repeat="item in placeList track by $index">
                <td><img ng-src="Images/{{item.properties.type}}.png"></div><br>{{item.properties.title}}<br>{{item.properties.description}}<br>{{item.properties.address}}<br></td>
                </tr>
              </tbody>
              </table>
            </div>
              </div>
      <div>
        <div id="map">Map</div>
      </div>
    </div>
  </body>
</html>
