<md-dialog aria-label="placeDetailsPopup">
    <img ng-click="cancel()" id="closeIcon" ng-src="Images/Close-popup-icon.png" aria-label="Close dialog">
    <div class <div class="titleModal">
        <img class="typeIcon" ng-src="Images/{{ctrl.place.properties.type}}.png">
        <h1 class="modalTitle">{{ctrl.place.properties.title}}</h1>
    </div>
    <md-dialog-content class="modalBody">
        <h4 class="modalAddress">{{ctrl.place.properties.address}}</h4>
        <h4 class="modalPhone">{{ctrl.place.properties.phone_number}}</h4>
        <a href="{{ctrl.place.properties.website}}">
            <h5>{{ctrl.place.properties.website}}</h5>
        </a>
        <br>
        <h5 class="openingHrs" ng-if="ctrl.place.openingHours">
            <strong id="openingHrsTitle">Opening Hours</strong>
        </h5>
        <div ng-repeat="day in ctrl.place.openingHours">
            <p>{{day}}</p>
        </div>
        <br>
        <div ng-if="ctrl.place.photos">
            <div ng-repeat="photo in ctrl.place.photos track by $index">
                <img class="modalPics img-responsive" ng-src="{{photo}}" {{photo}}>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>