<md-dialog aria-label="placeDetailsPopup">
    <div class="container"
        <div class="row">
            <img ng-src= "Images/{{ctrl.place.properties.type}}.png">
            <h1 class="modalTitle">{{ctrl.place.properties.title}}</h1>
                 <md-dialog-content class="modalBody">
              <!--   <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button> -->
                <h4>{{ctrl.place.properties.address}}</h4>
                <h4>{{ctrl.place.properties.phone_number}}</h4>
                <h4>{{ctrl.place.properties.website}}</h4>
                <div ng-repeat="day in ctrl.place.openingHours">
                    <h5>{{day}}</h5>
                </div>
                <div ng-if="ctrl.place.photos">
                    <div ng-repeat="photo in ctrl.place.photos track by $index">
                        <img class="modalPics" ng-src="{{photo}}" {{photo}}>
                    </div>
                </div>
                <p>

                </p>
            </div>
        </md-dialog-content>
            <md-button ng-click="cancel()">Close</md-button>
</md-dialog>