/* Map */

#map {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

body {
    overflow: hidden;
}

.leaflet-left .leaflet-control {
    margin-left: 331px;
    background-color: transparent;
}

.leaflet-top {
    z-index: inherit;
}


/* Hide Google and Mapbox logos */

.pac-container:after {
    content: none !important;
}

.mapbox-logo-true {
    display: none;
}


/* Side panel */

.inputPanel {
    position: fixed;
    z-index: 1;
    height: 100%;
    background-color: #F5F5F5;
    padding: 10px;
    opacity: 1.0;
}


/* Add Place */

input {
    color: black;
}

#placeInput,
#placeNote {
    width: 300px;
}

.help-block {
    color: #DE0032;
}

#addBtn {
  background-color: #00e676;
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

#addBtn:focus {
  outline: none;
}

#addBtn:hover {
  background-color: transparent;
  color: #00e676;
  border: 1px solid #00e676;
}

#innerResetMap {
  margin-top: 14px;
}

#addPlaceActions {
  padding-left: 5px;
  padding-right: 0px;
  margin-top: 6px;
}

/* List View */

#list {
    overflow-y: auto;
    height: 400px;
    overflow-x: hidden;
}

#placeListNote {
    font-style: italic;
    max-width: 300px;
    cursor: default;
}

.img-circle {
    width: 50px;
    height: 50px;
}

.btn-round {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 12px;
    float: right;
    margin-right: 10px;
    display: inline-block;
}

.btn-danger {
    background-color: transparent;
}

.btn-danger:focus {
    outline: none;
}

.btn-danger:hover .glyphicon {
    color: white;
}

#dropdown {
    height: 28px;
}

#placeListTitle {
    padding-left: 18px;
    padding-top: 10px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
    width: 210px;
    max-width: 210px;
    display: inline-block;
    text-overflow: ellipsis;
}

.glyphicon {
    right: 5px;
    color: #d43f3a;
}

label {
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
}

.table {
    width: 95%;
}

.table > tbody > tr > td {
    padding: 18px 0 0 18px;
}

#placeListTitle:focus {
    outline: none;
}

td:hover .placeLink {
    cursor: pointer;
    text-decoration: underline;
    color: #448aff;
}

[role="button"] {
    cursor: default;
}


/* Place Details Popup */

md-dialog {
    padding: 40px;
    background-color: #F5F5F5;
    border-radius: 6px;
    width: 65%;
    box-shadow: none;
}

.md-button {
  text-transform: none;
}

.modalPics {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
}

#closeIcon {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 30px;
  display: block;
  cursor: pointer;
}

.openingHrs {
    margin-top: 20px;
}

.modalTitle {
  margin-top: 0px;
}

.titleModal {
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 20px;

}

#openingHrsTitle, .modalPhone, .modalAddress {
  color: #616161;
}

.typeIcon {
  margin-top: 30px;
}