input {
  color: black;
}

#placeInput {
  width: 300px;
}

#placeNote {
  width: 300px;
}

#map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.inputPanel {
  position: fixed;
  z-index: 1;
  height: 100%;
  background-color:#F5F5F5;
  padding: 10px;
  opacity: 1.0;
}

#filter label {
  float: right;
  font-weight: normal;
}

.leaflet-bar a {
  display: inline-block;
}


/* Hide Google and Mapbox logos */
.pac-container:after{
    content:none !important;
}
.mapbox-logo-true {
  display: none;
}
